.PropertListPage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.propertieFilterBox {
  width: 100%;
  min-height: 80px;
  background: #fff5dd;
  border: 1px solid #e1d2ae;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}
.propertieFilterBox .dropBox {
  background: #fff;
}
.propertMainSection {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.propertieLeftSection {
  width: 100%;
  padding-top: 20px;
}
.pageNavText {
  font-size: 20px;
  color: #444156;
  margin: 10px 0;
}
.propertieListHeaderBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.propLHText {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  font-family: "ClashDisplay";
}
.propertieListHeaderBox .dropBox {
  width: 200px;
  height: 50px;
}
.propertiesListBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
}
.propertieRightSection {
  display: none;
  width: 20%;
  margin-top: 6%;
}
.propertieBigCard {
  width: 100%;
  height: fit-content;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 5px;
}
.propImgBox {
  width: 100%;
  height: 55%;
  border-radius: 10px;
  overflow: hidden;
}
.propImgBox img {
  width: 100%;
  height: 100%;
}
.proCInfoBox {
  width: 100%;
  height: 40%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.proCBTitle {
  font-size: 18px;
  color: #110c30;
  font-weight: 600;
  font-family: "ClashDisplayBold";
}
.propClocText {
  font-size: 16px;
  color: #444156;
}
.probCYlBox {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff5dd;
  border: 1px solid #fff5dd;
  border-radius: 10px;
  padding: 0 10px;
}
.propPrice {
  font-size: 18px;
  color: #110c30;
  font-family: "ClashDisplayBold";
}
.pcAgentBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userPrf {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.userPrf img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.userPrf p {
  font-size: 18px;
  color: #110c30;
}
.PropertListPage .AbelPropt {
  margin-top: 30px;
  background: #fff;
}
.propertyCoverImg {
  width: 100%;
  margin: 30px 0;
}
.sbiBannar {
  width: 100%;
}
.rightPropertieBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.propertiesSideHeader {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin-top: 50px;
}
.rightPropertieBox .propertieCard {
  width: 100%;
}
.propFilterDrop {
  padding-left: 16px;
  padding-right: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 8px;
  cursor: pointer;
  background: #fff;
}
.propFilterDrop p {
  font-size: 16px;
  color: #444156;
}
.propFilterDrop > div {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 50%;
}
.propFilterDrop > div span {
  font-family: "ClashDisplayBold";
  color: #fff;
  font-size: 16px;
}
.locationInputBox {
  padding-left: 16px;
  padding-right: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 8px;
  cursor: pointer;
  background: #fff;
}
.buyTogalBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 7px;
  position: relative;
}
.buyTogalBox img {
  transition: all 0.5s;
}
.buyTogalBox .dropItem {
  padding: 0 10px;
}
.vrLine {
  width: 1px;
  height: 60%;
  background: #44415691;
}
.locationInputBox input {
  border: none;
  width: 100px;
}
.locationInputBox input:focus {
  outline: none;
}
.paper {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background: #e1d2ae;
  padding: 0 10px;
  border-radius: 16px;
}
.paper p {
  color: #444156;
}
.delChip {
  width: 15px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delChip img {
  width: 80%;
}
.addChip {
  position: absolute;
  right: 9px;
}
.addChip img {
  rotate: 44deg;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .propertieListHeaderBox {
    flex-direction: row;
  }
  .propertieBigCard {
    width: 48%;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .propertieFilterBox {
    height: 80px;
  }
  .propertMainSection {
    width: 76%;
  }
  .propertieRightSection {
    display: block;
  }
  .propertieLeftSection {
    width: 80%;
  }
}
