.homeContainer {
  width: 100%;
}
.homeContainer p {
  margin-bottom: 0;
}
.homeTopSection {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 40%;
}
.homeTopSection .homeHeader {
  text-align: center;
}
.homeTopBg {
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
}
.homeHeader {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.homeSubHeader {
  width: 98%;
  font-size: 25px;
  color: #fff;
  text-align: center;
}
.homeTopSection h3 {
  color: black;
}
.MobileHomeBtnBox {
  width: 80%;
  background: #91919180;
  padding: 10px;
  border-radius: 43px;
  position: relative;
}
.garyBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.searchPopBox {
  width: 95%;
  background: #242527;
  top: 0px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.crossIcon {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
}
.searchPopBoxInput {
  margin-top: 20px;
}
.searchPopBoxInput .dropBox {
  width: 100%;
}
.spHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.spHeader p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.spHeader img {
  width: 30px;
}
.MobileHomeBtnBox .BlackBtn {
  height: 40px;
}
.HomeBtnBox {
  min-height: 80px;
  position: absolute;
  top: 46%;
  background: #91919180;
  border-radius: 43px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.locationInputBox {
  height: 40px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 50px;
  gap: 8px;
  cursor: pointer;
  position: relative;
}
.locationInputBox p {
  font-size: 12px;
}
.locationInputBox .targetIcon {
  position: absolute;
  right: 10px;
}
.topHomeTavSection {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -69px;
}
.thTabInBox {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  gap: 15px;
  padding: 7px 12px 0 12px;
}
.tabBox {
  width: 97px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  border-radius: 8px;
  cursor: pointer;
}
.tabBox > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
}
.ActivetabBuyBox > div {
  box-shadow: #ffb605 0px 9px 91px 2px;
}
.ActivetabRentBox > div {
  box-shadow: gray 0px 9px 91px 2px;
}
.serviceSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 10px;
}
.SectionHeader {
  font-size: 28px;
  color: #000;
}
.serviceSection .sectionSubText {
  text-align: center;
  width: 85%;
}
.sectionSubText {
  font-size: 18px;
  font-weight: 400;
  color: #444156;
  margin-bottom: 30px !important;
}
.serviceCardBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.serviceCard {
  width: 100%;
}
.serviceCard img {
  width: 100%;
}
.serviceCard p {
  font-size: 25px;
  font-weight: 600;
  color: #242527;
  margin: 8px 0;
}
.serviceCard span {
  font-size: 16px;
  color: #444156;
}
.centerBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.aboutNbsSection {
  width: 100%;
  background: #fff5dd;
  padding: 6% 3%;
}
.anbs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}
.nbsImgBox {
  width: 100%;
  position: relative;
}
.nbsImgBox .nbsImg {
  width: 100%;
  height: 100%;
}
.nbsTextBox {
  width: 100%;
}
.nbsInImgBox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  padding: 8px;
  background: #fff;
}
.nbsInImgBox img {
  width: 100%;
  height: 100%;
}
.nbsTextBox .sectionSubText {
  margin-bottom: 0 !important;
}
.nbsBtnBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.trustSection {
  width: 100%;
  padding: 6% 3%;
}
.trustBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trustInBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.wmDifferent {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fff5dd 53.25%, #ffffff 100%);
  border-radius: 15px;
  padding: 20px;
}
.wmDfHeader {
  font-size: 30px;
  font-weight: 600;
  color: #242527;
}
.wmDifferent .sectionSubText {
  text-align: start;
}
.wmdBtnBox {
  width: 100%;
  margin-bottom: 10px;
}

.trustCard {
  width: 48%;
}
.trustCard p {
  font-size: 18px;
  font-weight: 600;
  color: #242527;
  margin: 8px 0;
}
.trustCard samp {
  font-size: 12px;
  color: #444156;
  font-family: Poppins;
}
.NearUSection {
  width: 100%;
  margin-top: 80px;
}
.nearLoCardBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
}
.nearLoCard {
  width: 100%;
  height: 185px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #fff5dd;
  border: 1px solid #e2d2ac;
  padding: 20px;
  gap: 16px;
}
.nearLoCard p {
  font-size: 40px;
  color: #444156;
}
.nearLoCard span {
  font-size: 20px;
  color: #444156;
  position: relative;
  top: -20px;
}
.nlCardLine {
  width: 75%;
  border-top: 1px solid #000;
  position: relative;
  top: 5px;
}
.nlCardLine img {
  position: absolute;
  right: -46px;
  top: -16px;
  cursor: pointer;
  width: 30px;
}
.AbelPropt {
  width: 100%;
  display: flex;
  background: #fff5dd;
  padding: 6% 3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AbelPropt .sectionSubText {
  text-align: center;
}
.propertieCardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}
.propertieCard {
  width: 25%;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.AbelPropt .propertieCard {
  width: 100%;
}

.propertieCard .propImgBox {
  width: 100%;
  height: 13vw;
  border-radius: 10px;
  overflow: hidden;
}
.propertieCard .propImgBox img {
  width: 100%;
  height: 100%;
}
.propInfoBox {
  width: 100%;
  min-height: 132px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.propAriyaInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.propAriyaInfo p {
  font-size: 16px;
  color: #4e4b5c;
}
.propPrice {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.propPrice samp {
  font-size: 20px;
  color: #4e4b5c;
}
.propLocation {
  font-size: 16px;
  color: #4e4b5c;
}
.BlogSection {
  width: 100%;
  padding: 6% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BlogSection .sectionSubText {
  text-align: center;
}
.blogDisplaySection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
}
.RightBlogBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.RBlogImgBox {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
}
.RBlogImgBox img {
  width: 100%;
  height: 100%;
}
.blogTitle {
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
  color: #242527;
}
.blogSumText {
  font-size: 13px;
  color: #444156;
  line-height: 15px;
}
.LeftBlogBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blogRowCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 120px;
}
.brImgBox {
  width: 25%;
  min-width: 120px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.brImgBox img {
  width: 100%;
  height: 100%;
}
.brTextBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.serviceSection .SectionHeader,
.serviceSection .sectionSubText {
  width: 100%;
  text-align: start;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
  .HomeBtnBox {
    padding: 20px;
    gap: 15px;
  }
  .MobileHomeBtnBox {
    width: 50%;
  }
  .nbsTextBox .sectionSubText {
    text-align: start;
  }
  .homeHeader {
    font-size: 50px;
  }
  .homeTopSection .homeHeader {
    text-align: start;
  }
  .locationInputBox p {
    font-size: 16px;
  }
  .serviceCardBox {
    flex-direction: row;
  }
  .serviceCard {
    width: 370px;
  }
  .trustBox {
    flex-direction: row;
  }
  .trustInBox {
    width: 60%;
    margin: 0;
  }
  .wmDifferent {
    width: 40%;
  }
  .SectionHeader {
    font-size: 50px;
  }
  .nearLoCardBox {
    flex-direction: row;
  }
  .nearLoCard {
    width: 33%;
  }
  .nlCardLine {
    top: -14px;
  }
  .AbelPropt .propertieCard {
    width: 47%;
  }
  .brImgBox {
    width: 45%;
    min-width: 230px;
  }
  .blogTitle {
    font-size: 25px;
    line-height: 28px;
  }
  .blogSumText {
    font-size: 18px;
  }
  .blogRowCard {
    height: 140px;
  }
  .propertieCardBox {
    justify-content: space-between;
  }
  .searchPopBox {
    width: 80%;
  }
  .trustCard p {
    font-size: 25px;
  }
  .trustCard samp {
    font-size: 16px;
  }
  .serviceSection {
    padding: 70px 20px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .homeTopSection {
    height: 100vh;
    gap: 20px;
    padding-top: 11%;
  }
  .MobileHomeBtnBox {
    display: none;
  }
  .HomeBtnBox {
    gap: 20px;
    justify-content: center;
    display: flex;
  }
  .HomeBtnBox .dropBox {
    display: flex;
  }
  .topHomeTavSection {
  }

  .serviceCardBox {
    padding: 0;
  }
  .anbs {
    flex-direction: row;
  }
  .nbsImgBox {
    width: 50%;
  }

  .nbsTextBox {
    width: 50%;
  }
  .aboutNbsSection {
    padding: 6% 8%;
  }
  .trustSection {
    padding: 6% 8%;
  }
  .nlCardLine {
    top: 0px;
  }
  .nlCardLine img {
    width: unset;
    right: -59px;
    top: -20px;
  }
  .AbelPropt {
    padding: 2% 8%;
  }
  .propertieCardBox {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .AbelPropt .propertieCard {
    width: 25%;
  }
  .BlogSection .sectionSubText {
    text-align: start;
  }
  .BlogSection {
    padding: 6% 8%;
  }
  .blogDisplaySection {
    flex-direction: row;
  }
  .RightBlogBox {
    width: 40%;
  }
  .LeftBlogBox {
    width: 60%;
  }
  .SectionHeader {
    text-align: start;
  }
  .serviceSection .SectionHeader,
  .serviceSection .sectionSubText {
    width: 100%;
    text-align: center;
  }
}
