.BlackBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #242527;
  padding: 0 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.6s;
}
.BlackBtn:hover {
  background: #575757;
}
.BlackBtn p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}

.WhiteBtn {
  background: #fff;
  border: 1px solid #242527;
}
.WhiteBtn:hover {
  background: #ebebebcc;
}
.WhiteBtn p {
  color: #000;
}
.WhiteFillBtn {
  background: #8888887c;
}
.WhiteFillBtn:hover {
  background: #888888a2;
}
.WhiteFillBtn p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}
.dropOuterBox {
  position: relative;
}
.dropBox {
  padding-left: 30px;
  padding-right: 8px;
  height: 40px;
  /* border: 1px solid #000; */
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.dropBox:focus {
  outline: none;
}
.dropIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

.dropItem {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.dropItemBox {
  height: 0px;
  position: absolute;
  top: 42px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s;
  z-index: 9;
}
.dropItemBoxActive {
  height: auto;
  border: 1px solid gray;
}
.dropItemBoxActive .dropItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropBox p {
  font-size: 16px;
}
.OutLineBtn {
  background: #00000000;
  border: 1px solid #000;
}
.OutLineBtn p {
  color: #000;
}
.OutLineBtn:hover {
  background: #0000002b;
}
.unitesBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.unitesInerBox {
}
.unitesInerBox p {
  font-size: 16px;
  color: #444156;
}
.unitesInerBox samp {
  font-size: 18px;
  color: #444156;
  font-weight: 600;
}
.BuildingCard .proCInfoBox {
  gap: 6px;
}
.goBtnIcon {
  cursor: pointer;
}
.pagination {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.pagination button.active {
  background-color: #000;
  color: white;
  border: none;
}
.pagination span {
  margin: 0 5px;
}
.paginationBtn {
  cursor: pointer;
}
.paginationBtnDisable {
  cursor: unset;
  pointer-events: none;
}
.pagination button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.pagination button:focus {
  outline: none;
}
.agentPic img {
  width: 65px;
  height: 65px;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .BlackBtn p {
    font-size: 14px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .BlackBtn p {
    font-size: 18px;
  }
}
