.BlackBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #242527;
  padding: 0 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.6s;
}
.BlackBtn:hover {
  background: #575757;
}
.BlackBtn p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.WhiteBtn {
  background: #fff;
  border: 1px solid #242527;
}
.WhiteBtn:hover {
  background: #ebebebcc;
}
.WhiteBtn p {
  color: #000;
}
.WhiteFillBtn {
  background: #fff;
}
.WhiteFillBtn:hover {
  background: #ebebebcc;
}
.WhiteFillBtn p {
  color: #000;
  font-size: 22px;
  font-weight: 500;
}
.dropBox {
  padding-left: 16px;
  padding-right: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 8px;
  cursor: pointer;
}
.dropIcon {
  position: absolute;
  right: 10px;
}
.dropItemBox {
  height: 0px;
  position: absolute;
  top: 42px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s;
  z-index: 9;
}
.dropItemBoxActive {
  height: auto;
  border: 1px solid gray;
}
.dropItem {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.dropBox p {
  font-size: 16px;
}
.OutLineBtn {
  background: #00000000;
  border: 1px solid #000;
}
.OutLineBtn p {
  color: #000;
}
.OutLineBtn:hover {
  background: #0000002b;
}
.unitesBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.unitesInerBox {
}
.unitesInerBox p {
  font-size: 16px;
  color: #444156;
}
.unitesInerBox samp {
  font-size: 18px;
  color: #444156;
  font-weight: 600;
  font-family: "ClashDisplay";
}
.BuildingCard .proCInfoBox {
  gap: 6px;
}
.goBtnIcon {
  cursor: pointer;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .BlackBtn p {
    font-size: 14px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .BlackBtn p {
    font-size: 18px;
  }
}
