.navBarContainer {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: relative;
}
.SideMenu {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0px;
  background: #e4e4e4;
  transition: all 0.6s cubic-bezier(0, 0.88, 0.79, 0.79);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9;
  border: 1px solid rgba(128, 128, 128, 0.429);
}
.SideMenuActive {
  width: 100%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sideMenuCloseArrow {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}
.clogBox {
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clogBox img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.navItemBox {
  width: 42%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.navItem {
  cursor: pointer;
  color: #232c39;
  font-size: 18px;
  transition: all 0.5s;
}
.AtivenavItem {
  /* text-decoration: underline;
  text-underline-offset: 10px; */
}
.navItem:hover {
  color: #848484;
}
.navLogoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-right: 10px;
  position: relative;
}
.navLogoBox .WhiteBtn {
  height: 33px !important;
}
.navLogoBox .BlackBtn {
  height: 33px !important;
}
.navLogoBox .BlackBtn p {
  font-size: 16px;
}
.searchIcon {
  cursor: pointer;
}

.SearchInputBox {
  position: absolute;
  top: 51px;
  left: -30%;
  height: 0px;
  transition: all 0.5s;
  width: 300px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
.SearchInputBoxActive {
  height: 40px;
  border: 1px solid #daa520;
}
.SearchInputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 20px;
  border: none;
  font-size: 20px;
}
.SearchInputBox input:focus {
  outline: none;
}
.navBarContainer p {
  margin-bottom: 0;
}
.mobileSideMenuList {
  width: 100%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.mobileSideMenuList .navItem {
  font-size: 35px;
  font-family: "ClashDisplayBold";
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .navLogoBox .WhiteBtn {
    height: 42px !important;
  }
  .navLogoBox .BlackBtn {
    height: 42px !important;
  }
  .navLogoBox .BlackBtn p {
    font-size: 18px;
  }
  .SideMenuActive {
    width: 45%;
    border-radius: 10px 0 0 10px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .navItemBox {
    display: flex;
  }
  .navLogoBox {
    width: 29%;
    justify-content: start;
    padding-left: 2px;
  }
  .NavOptionIcon {
    display: none;
  }
  .SideMenuActive {
    display: none;
  }
  .navBarContainer {
    gap: 5%;
  }
}
