.FooterContainer {
  width: 100%;
  position: relative;
  background: #000;
  padding: 6% 3% 2% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 165px;
}
.FooterTopBox {
  width: auto;
  padding: 20px;
  background: #fff5dd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: -108px;
  flex-wrap: wrap;
}
.FooterTopBox img {
  cursor: pointer;
  width: 95px;
}
.footerRowBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
  border: 5px solid transparent;
  border-image-source: linear-gradient(
    to right,
    #d4af3700,
    #ffb40096,
    #d4af3700
  );
  border-image-slice: 1;
  border-width: 1px 0;
  margin: 50px 0;
  flex-wrap: wrap;
}
.FooterRowItem {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s;
  margin-bottom: 0;
}
.FooterRowItem:hover {
  color: #fffc;
}
.footerMideaBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.footerMideaBox img {
  cursor: pointer;
}
.footerBottomText {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.footerBottomText samp {
  color: #ffcf42;
}
.goTopIcon {
  width: 40px;
  position: absolute;
  bottom: 79%;
  right: 4%;
  cursor: pointer;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .FooterTopBox {
    height: 63px;
    top: -34px;
    flex-wrap: nowrap;
    padding: 0 20px;
  }
  .FooterTopBox img {
    width: 113px;
  }
  .FooterContainer {
    margin-top: 50px;
  }
  .footerRowBox {
    flex-wrap: nowrap;
  }
  .goTopIcon {
    width: 80px;
    bottom: 10%;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .FooterTopBox img {
    width: unset;
  }
  .FooterTopBox {
    height: 100px;
    top: -50px;
  }
  .FooterContainer {
    padding: 6% 8% 2% 8%;
  }
  .footerRowBox {
    gap: 50px;
  }
  .FooterRowItem {
    font-size: 18px;
  }
  .goTopIcon {
    right: 14%;
  }
}
