.propTextBox .centerBtnBox {
  margin: 0;
  gap: 10px;
  justify-content: start;
}
.buildingTable {
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow: hidden;
}
.buildingTableHeader {
  width: 100%;
  min-height: 60px;
  background: #3d3d3d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
.buldingTableMainBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.buldingTableRow {
  width: 100%;
  min-height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff4db;
  border-radius: 6px;
  padding: 0 10px;
}
.buildingTableCel {
  display: flex;
  align-items: center;
}
.buildingTableCel p {
  font-size: 16px;
  font-weight: 500;
  color: #110c30;
}
.buildingTableHeader .buildingTableCel p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.ratingBox {
  margin-bottom: 0;
  gap: 11px;
}
.ratingHeader {
  font-size: 24px;
  font-weight: 600;
  color: #110c30;
}
.starBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}
.reviewSubText {
  font-size: 14px;
  color: #444156;
}
.reviewSubText samp {
  color: #cb0000;
  font-size: 14px;
  font-weight: 600;
}
.ratingItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
.ratingItemRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratingItemRow p {
  font-size: 14px;
  color: #110c30;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
  .buldingTableMainBox {
    padding: 20px;
  }
  .buldingTableRow {
    padding: 0 30px;
  }
  .buildingTableHeader .buildingTableCel p {
    font-size: 20px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .officeDetailsPage .brandProfileBox {
    min-width: 265px;
  }
  .officeDetailsPage .AbelPropt {
    margin-bottom: 50px;
  }
}
