@font-face {
  font-family: "Syne";
  src: url("./Assets/Fonts/Syne/static/Syne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ClashDisplay";
  src: url("./Assets/Fonts/ClashDisplay_Complete/ClashDisplay-Regular.otf")
    format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Syne;
}
